

<table class="ms-rteTable-default" cellspacing="0" style="width: 100%; height: 300px;">
    <tbody>
        <tr class="ms-rteTableOddRow-default">
            <th class="ms-rteTableEvenCol-default" rowspan="1" colspan="2" style="width: 50%; height: 100px;">



                <table width="100%" class="ms-rteTable-1" cellspacing="0" style="height: 100px;">
                    <tbody>
                        <tr class="ms-rteTableEvenRow-1">
                            <td class="ms-rteTableEvenCol-1" rowspan="1" colspan="1" style="width: 50%; height: 26px;">
                                <strong class="ms-rteThemeForeColor-2-0">Useful Tools, Resources and Other Materials</strong>
                            </td>
                        </tr>
                        <tr class="ms-rteTableOddRow-1">
                            <td class="ms-rteTableEvenCol-1" rowspan="1" colspan="1" style="width: 50%;">​</td>
                        </tr>
                        <tr class="ms-rteTableEvenRow-1">
                            <td class="ms-rteTableEvenCol-1" rowspan="1" colspan="1" style="width: 50%;">
                                <span style="font-size: 11px;">
                                    <ul>
                                        <li>
                                            <span style="font-size: 11px;"><a href="http://sww.scin.shell.com/ep/epg/sepcin/production/ContinuousImprovement/CIHome.html" target="_blank"><font color="#0066cc" style="font-size: 11px;"><span style="text-decoration: underline;">SCiN  Continuous Improvement Website</span></font></a> </span>
                                        </li>
                                        <li>
                                            <span style="font-size: 11px;">
                                                <a href="/sites/AFFAA0777/WinningWays/Documents/Website%20Documents/A3%20Template.ppt" target="_blank">
                                                    <font color="#0066cc" style="font-size: 11px;">
                                                        <span style="text-decoration: underline;">A3 Template  (CI Tool)&#160;</span>
                                                    </font>
                                                </a>
                                            </span>
                                        </li>
                                        <li>
                                            <span style="font-size: 11px;">
                                                <a href="https://eu001-sp.shell.com/sites/AAFAA1302/LP/SitePages/Home.aspx" target="_blank">
                                                    <font color="#0066cc" style="font-size: 11px;">
                                                        <span style="text-decoration: underline;">Continuous  Improvement Learner Portal</span>
                                                    </font>
                                                </a>
                                            </span>
                                        </li>
                                        <li>
                                            <span style="font-size: 11px;">
                                                <a href="http://sww.scin.shell.com/ep/epg/sepcin/dmd/hse/hse_homepage.html" target="_blank">
                                                    <span style="font-size: 11px;">
                                                        <font color="#0066cc">
                                                            <span style="text-decoration: underline;">Safety Leadership </span>
                                                        </font>
                                                    </span>
                                                </a>
                                            </span>
                                        </li>
                                        <li class="normal">
                                            <span style="font-size: 11px;">
                                                <a href="/sites/AFFAA0777/WinningWays/Documents/Website%20Documents/CADENCE%20Checklists.pdf" target="_blank">
                                                    <span style="font-size: 11px;">
                                                        <font color="#0066cc">
                                                            <span style="text-decoration: underline;">CADENCE Meeting Checklist</span>
                                                        </font>
                                                    </span>
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="normal">
                                            <span style="font-size: 11px;"><a href="https://eu001-sp.shell.com/sites/AAAAA8320/Pages/Fit%20For%20Future%20Homepage.aspx" target="_blank"><font color="#0066cc" style="font-size: 11px;"><span style="text-decoration: underline;">Fit for the  Future Home Page</span></font></a> </span>
                                        </li>
                                    </ul>
                                    <p class="normal">
                                        <span style="font-size: 11px;"></span>&#160;
                                    </p>
                                </span><span style="font-size: 11px;">
                                    <p class="normal">
                                        <span style="font-size: 11px;"><span aria-hidden="true"></span></span>&#160;
                                    </p>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </th>
            <td class="ms-rteTableOddCol-default" rowspan="1" colspan="1" style="width: 100%; height: 100px;">
                <table class="ms-rteTable-1    " cellspacing="0" style="width: 100%;">
                    <tbody>
                        <tr class="ms-rteTableEvenRow-1">
                            <td class="ms-rteTableEvenCol-1" rowspan="1" colspan="1" style="width: 50%;">
                                <span aria-hidden="true"></span><span aria-hidden="true"></span>​<strong class="ms-rteThemeForeColor-2-0"><font color="#000000">Useful links</font></strong>
                            </td>
                        </tr>
                        <tr class="ms-rteTableOddRow-1">
                            <td class="ms-rteTableEvenCol-1" rowspan="1" colspan="1" style="width: 50%;">​</td>
                        </tr>
                        <tr class="ms-rteTableEvenRow-1">
                            <td class="ms-rteTableEvenCol-1" style="width: 50%;">
                                <ul>
                                    <li>
                                        <span class="ms-rteThemeForeColor-6-0"><font color="#000000">​</font></span><a href="/sites/AFFAA0824/Documents/Communications/Weekly%20Cadence%20Objectives.pdf"><span class="ms-rteThemeForeColor-5-4"><span style="text-decoration: underline;"><font color="#0066cc">SCiN FFF Guide to Weekly Cadence</font></span></span></a>
                                    </li>
                                    <li>
                                        <span class="ms-rteThemeForeColor-5-4"></span><a href="/sites/AFFAA0795/Notification%20Library/SCiN%202018%20Cadence%20Workstreams.pdf" target="_blank"><span class="ms-rteThemeForeColor-5-4"><span style="text-decoration: underline;"><font color="#0066cc">                                              SCiN Cadence Work Streams</font></span></span></a><span class="ms-rteThemeForeColor-5-4"><font color="#000000">&#160;&#160; </font></span>
                                    </li>
                                    <li>
                                        <span class="ms-rteThemeForeColor-5-4"></span>
                                        <a href="/sites/AFFAA0777/WinningWays/Documents/Website%20Documents/Cadence%20Posters.pdf" target="_blank">
                                            <font class="ms-rteThemeForeColor-5-4" color="#0066cc">
                                                <span style="text-decoration: underline;">Cadence Posters</span>
                                            </font>
                                        </a><span class="ms-rteThemeForeColor-5-4"><font color="#000000">&#160; </font></span>
                                    </li>
                                    <li>
                                        <span class="ms-rteThemeForeColor-5-4">
                                            <a href="https://shell1.mckinseywave.com/" target="_blank">
                                                <strong class="ms-rteThemeForeColor-5-4">
                                                    <span style="text-decoration: underline;">
                                                        <font color="#0066cc">LOG ON to WAVE</font>
                                                    </span>
                                                </strong>
                                            </a><strong><font color="#000000"> </font></strong>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="ms-rteThemeForeColor-5-4"></span>
                                        <a href="/sites/AFFAA0824/Documents/Guides%20and%20Training/170216%20Shell%20Nigeria%20FFF%20-%20Wave%20user%20guide%20v3.pdf" target="_blank">
                                            <font class="ms-rteThemeForeColor-5-4" color="#0066cc">
                                                <span style="text-decoration: underline;">WAVE User Guide</span>
                                            </font>
                                        </a><span class="ms-rteThemeForeColor-5-4"><font color="#000000"> </font></span>
                                    </li>
                                    <li>
                                        <span class="ms-rteThemeForeColor-5-4"></span>
                                        <a href="/sites/AFFAA0824/Documents/Guides%20and%20Training/WAVE%202%20TRAINING%20-%20Tuesday,%20February%2020,%202018%201.33.04%20PM.mp4" target="_blank">
                                            <font class="ms-rteThemeForeColor-5-4" color="#0066cc">
                                                <span style="text-decoration: underline;">WAVE Training Recording</span>
                                            </font>
                                        </a><span class="ms-rteThemeForeColor-5-4"><font color="#000000"><span aria-hidden="true"></span></font></span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

