@model EF.BongaCC.Core.Model.ExchangeRate

@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ExchangeRate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FloatingExchangeRate" class="control-label"></label>
                <input asp-for="FloatingExchangeRate" class="form-control" />
                <span asp-validation-for="FloatingExchangeRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YYear" class="control-label"></label>
                <input asp-for="YYear" class="form-control" />
                <span asp-validation-for="YYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MMonth" class="control-label"></label>
                <input asp-for="MMonth" class="form-control" />
                <span asp-validation-for="MMonth" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="AddedDate" class="control-label"></label>
                    <input asp-for="AddedDate" class="form-control" />
                    <span asp-validation-for="AddedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
