@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="BudgetBooks" asp-action="Index">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"> Budget Book</span>
                </a>
            </div>

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="Activities" asp-action="Index">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true"> Activities</span>
                </a>
            </div>

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="ActivityCodesWorkstream" asp-action="Index">
                    <span class="glyphicon glyphicon-cd" aria-hidden="true"> Activity Codes Workstream</span>
                </a>
            </div>

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="ActivityCodes" asp-action="Index">
                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"> Activity Codes</span>
                </a>
            </div>
            <div class="col-md-6 row">
                <a asp-area="" asp-controller="ActivityTypes" asp-action="Index">
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"> Activity Name</span>
                </a>
            </div>

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="BudgetBasis" asp-action="Index">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"> Budget Basis</span>
                </a>
            </div>

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="WBS" asp-action="Index">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"> Cost Centre</span>
                </a>
            </div>

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="Contracts" asp-action="Index">
                    <span class="glyphicon glyphicon-oil" aria-hidden="true"> Contracts</span>
                </a>
            </div>
            <div class="col-md-6 row">
                <a asp-area="" asp-controller="Scopes" asp-action="Index">
                    <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"> Scopes</span>
                </a>
            </div>

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="UapCodes" asp-action="Index">
                    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"> UAP Codes</span>
                </a>
            </div>

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="UapRollUpCodes" asp-action="Index">
                    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"> UAP Rollup Codes</span>
                </a>
            </div>

            <div class="col-md-6 row">
                <a asp-area="" asp-controller="BudgetUploader" asp-action="Index">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"> Budget Uploader</span>
                </a>
            </div>
            <div class="col-md-6 row">
                <a asp-area="" asp-controller="BudgetUploaderTransformed" asp-action="Index">
                    <span class="glyphicon glyphicon-random" aria-hidden="true"> Budget Transformed View</span>
                </a>
            </div>
        </div>
    </div>