
<li><a asp-area="" asp-controller="Home" asp-action="Index">Admin Management</a></li>
<li><a asp-area="" asp-controller="Commitments" asp-action="CCPSession">Weekly Commitment Control Panel Session</a></li>
<li><a asp-area="" asp-controller="Commitments" asp-action="Reporters">View Reports</a></li>
<li><a asp-area="" asp-controller="Commitments" asp-action="ReportVariance">Variance Report</a></li>
