@model Web.BongaCC.ViewModels.CommitmentControlViewModel

<input type="hidden" asp-for="@Model.oBudgetBookCommitment.ID" />

<div class="form-group row">
    <div class="col-md-2">
        <label asp-for="oBudgetBookCommitment.ApprovalID" class="control-label"></label>
    </div>
    <div class="col-md-4">
        <select asp-for="oBudgetBookCommitment.ApprovalID" asp-items="ViewBag.approvalID" class="form-control">
            <option selected>--- SELECT ---</option>
        </select>
        <span asp-validation-for="oBudgetBookCommitment.ApprovalID" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-2">
        <label asp-for="oBudgetBookCommitment.Savings" class="control-label"></label>
    </div>
    <div class="col-md-4">
        <input asp-for="oBudgetBookCommitment.Savings" class="form-control" />
        <span asp-validation-for="oBudgetBookCommitment.Savings" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <div class="col-md-2">
        <b>Comments:</b>
    </div>
    <div class="col-md-10">
        <textarea asp-for="oBudgetBookCommitment.ApprovalComment" rows="5" cols="100" class="form-control"></textarea>
        <span asp-validation-for="oBudgetBookCommitment.ApprovalComment" class="text-danger"></span>
    </div>
</div>
