@model Web.BongaCC.ViewModels.CommitmentControlViewModel

<br />

<div style="font-size:11px">

    <table id="tblReport" class="table-borderless" style="font-size:11px">
        <tr>
            <th style="vertical-align:middle">Week:</th>
            <td>
                <div class="input-group date">
                    <input id="selWeek" class="form-control datepicker" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </td>
            <td style="vertical-align:middle">
                <form asp-controller="Commitments" asp-action="Index">
                    <button type="submit" class="btn-link btn-primary d-none d-md-inline-block">
                        Refresh
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <br />

    <!-- Capex Summary -->
    <table class="table table-hover" style="font-size:11px">
        <thead>
            <tr style="background-color:#FFFFD2">
                <th><b style="color:darkred">Capex</b></th>
                <th>Number</th>
                <th>Amount (F$)</th>
            </tr>
        </thead>
        <tbody id="capex"></tbody>
    </table>

    <!-- Opex Summary -->
    <table class="table table-hover" style="font-size:11px">
        <thead>
            <tr style="background-color:#FFFFD2">
                <th><b style="color:navy">Opex</b></th>
                <th>Number</th>
                <th>Amount (F$)</th>
            </tr>
        </thead>
        <tbody id="opex"></tbody>
    </table>

    <!-- Total Summary -->
    <table class="table table-hover" style="font-size:11px">
        <thead>
            <tr style="background-color:#FFFFD2">
                <th><b style="color:green">Capex & Opex</b></th>
                <th>Number</th>
                <th>Amount (F$)</th>
            </tr>
        </thead>
        <tbody id="capexopex"></tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd-M-yyyy',
            //startDate: '-3d'
        })
    });

    //$(document).ready(function () {
    //    $('.selectpicker').selectpicker();
    //});

    /* Source: http://www.codedigest.com/posts/39/using-jquery-ajax-methods-to-get-json-result-from-controller-in-aspnet-mvc */
    @*@string.Format("{0:N}", Model.TotalCapexPending)
        moment(value).format('DD-MMM-YYYY');
        accounting.formatNumber(result.d[0].GrossAmount, 2, ",", ".")
        *@
    $(document).ready(function () {
        $.ajax({
            url: "/Commitments/GetCapexOpexReport/",
            type: "GET",
            data: "{}",
            dataType: "json",
            success: function (data) {
                row = "<tr>";
                row += "<th>Pending</th>";
                row += "<td><div class='pull-right'>" + data.TotalNoCapexPending + "</div></td>";
                row += "<td><div class='pull-right'>" + accounting.formatNumber(data.TotalCapexPending, 2, ",", ".") + "</div></td>";
                row += "</tr>";

                row += "<tr>";
                row += "<th>Approved</th>";
                row += "<td><div class='pull-right'>" + data.TotalNoCapexApproved + "</div></td>";
                row += "<td><div class='pull-right'>" + accounting.formatNumber(data.TotalCapexApproved, 2, ",", ".") + "</div></td>";
                row += "</tr>";

                row += "<tr>";
                row += "<th>Rejected</th>";
                row += "<td><div class='pull-right'>" + data.TotalNoCapexRejected + "</div></td>";
                row += "<td><div class='pull-right'>" + accounting.formatNumber(data.TotalCapexRejected, 2, ",", ".") + "</div></td>";
                row += "</tr>";

                row += "<tr>";
                row += "<th>Total</th>";
                row += "<th><div class='pull-right'>" + data.TotalNoOfCapexCommitments + "</div></th>";
                row += "<th><div class='pull-right'>" + accounting.formatNumber(data.TotalCapexCommitment, 2, ",", ".") + "</div></th>";
                row += "</tr>";

                row += "<tr>";
                row += "<th colspan='2'>Total Capex Savings</th>";
                row += "<th><div class='pull-right'>" + accounting.formatNumber(data.TotalCapexSavings, 2, ",", ".") + "</div></th>";
                row += "</tr>";

                $('#capex').html(row);
            },


            error: function (xhr, status, error) {
                alert(xhr.responseText);
                alert(status);
                alert(error);
            }
        });


        $.ajax({
            url: "/Commitments/GetCapexOpexReport/",
            type: "GET",
            data: "{}",
            dataType: "json",
            success: function (data) {

                row = "<tr>";
                row += "<th>Pending</th>";
                row += "<td><div class='pull-right'>" + data.TotalNoOpexPending + "</div></td>";
                row += "<td><div class='pull-right'>" + accounting.formatNumber(data.TotalOpexPending, 2, ",", ".") + "</div></td>";
                row += "</tr>"

                row += "<tr>";
                row += "<th>Approved</th>";
                row += "<td><div class='pull-right'>" + data.TotalNoOpexApproved + "</div></td>";
                row += "<td><div class='pull-right'>" + accounting.formatNumber(data.TotalOpexApproved, 2, ",", ".") + "</div></td>";
                row += "</tr>";

                row += "<tr>";
                row += "<th>Rejected</th>";
                row += "<td><div class='pull-right'>" + data.TotalNoOpexRejected + "</div></td>";
                row += "<td><div class='pull-right'>" + accounting.formatNumber(data.TotalOpexRejected, 2, ",", ".") + "</div></td>";
                row += "</tr>";

                row += "<tr>";
                row += "<th>Total</th>";
                row += "<th><div class='pull-right'>" + data.TotalNoOfOpexCommitments + "</div></th>";
                row += "<th><div class='pull-right'>" + accounting.formatNumber(data.TotalOpexCommitment, 2, ",", ".") + "</div></th>";
                row += "</tr>";

                row += "<tr>";
                row += "<th colspan='2'>Total Opex Savings</th>";
                row += "<th><div class='pull-right'>" + accounting.formatNumber(data.TotalOpexSavings, 2, ",", ".") + "</div></th>";
                row += "</tr>";

                $('#opex').html(row);
            }

        });


        $.ajax({
            url: "/Commitments/GetCapexOpexReport/",
            type: "GET",
            data: "{}",
            dataType: "json",
            success: function (data) {

                row = "<tr>";
                row += "<th>Pending</th>";
                row += "<td><div class='pull-right'>" + data.TotalNoPending + "</div></td>";
                row += "<td><div class='pull-right'>" + accounting.formatNumber(data.TotalPending, 2, ",", ".") + "</div></td>";
                row += "</tr>";

                row += "<tr>";
                row += "<th>Approved</th>";
                row += "<td><div class='pull-right'>" + data.TotalNoApproved + "</div></td>";
                row += "<td><div class='pull-right'>" + accounting.formatNumber(data.TotalApproved, 2, ",", ".") + "</div></td>";
                row += "</tr>";

                row += "<tr>";
                row += "<th>Rejected</th>";
                row += "<td><div class='pull-right'>" + data.TotalNoRejected + "</div></td>";
                row += "<td><div class='pull-right'>" + accounting.formatNumber(data.TotalRejected, 2, ",", ".") + "</div></td>";
                row += "</tr>";

                row += "<tr>";
                row += "<th>Total</th>";
                row += "<th><div class='pull-right'>" + data.TotalNoOfCommitments + "</div></th>";
                row += "<th><div class='pull-right'>" + accounting.formatNumber(data.TotalCommitment, 2, ",", ".") + "</div></th>";
                row += "</tr>";

                row += "<tr>";
                row += "<th colspan='2'>Total Savings</th>";
                row += "<th><div class='pull-right'>" + accounting.formatNumber(data.TotalSavings, 2, ",", ".") + "</div></th>";
                row += "</tr>";
                 
                $('#capexopex').html(row);
            }

        });

    });

</script>
