
<div class="panel panel-default">
    <div class="panel-heading">
        Variance Report
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">From:</label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">To:</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="input-group date">
                    <input id="RptWeekFrom" class="form-control datepicker" data-date-format="mm/dd/yyyy" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="input-group date">
                    <input id="RptWeekTo" class="form-control datepicker" data-date-format="mm/dd/yyyy" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-1">
                <div class="form-group">
                    <button id="ExportReport2PDF" type="button" class="btn btn-danger rounded-0">Export to PDF</button>
                </div>
            </div>    
        </div>

    </div>
</div>



@(Html.Kendo().Grid<Web.BongaCC.ViewModels.BudgetBookCommitmentViewModel>
    ()
    .Name("Reporting")
    .AutoBind(false)

    .Columns(columns =>
    {
        columns.Bound(o => o.ID).Hidden();
        columns.Bound(e => e.CCPSessionDate).Format("{0:dd-MMM-yyyy}").Width(100);
        columns.Bound(e => e.Comitmntno).Width(100);
        columns.Bound(e => e.CapexOpex).Width(100);
        //.Filterable(filterable => filterable.UI("CapexOpexFilter"))
        //columns.Bound(e => e.sDirectAllocated).Width(100);
        //.Filterable(filterable => filterable.UI("directAllocatedFilter"))

        columns.Bound(e => e.title).Width(220);
        columns.Bound(e => e.Commitment).Format("{0:N}").Width(120).HtmlAttributes(new { style = "text-align:right;" });

        columns.Bound(e => e.UapCode).Width(100);
        //columns.Bound(e => e.UapRollUpCode).Width(100);
        columns.Bound(e => e.ActivityType).Width(220);
        //.Filterable(filterable => filterable.UI("ActivityTypeFilter"))
        //columns.Bound(e => e.ActivityCode).Width(120);
        //.Filterable(filterable => filterable.UI("ActivityCodeFilter"))

        columns.Bound(e => e.CostObject).Width(200);
        columns.Bound(e => e.Activity).Width(220);
        columns.Bound(e => e.FocalPoint).Width(170);
        columns.Bound(e => e.ActivityOwner).Width(170);
        columns.Bound(e => e.LineManagerFullName).Width(170);
        columns.Bound(e => e.Sponsor).Width(170);

        //oWorkSheet.Cells[row, 17].Value = "";
        columns.Bound(e => e.Contract).Width(220);

        columns.Bound(e => e.Scope)
        //.Filterable(filterable => filterable.UI("ScopeFilter"))
        .Width(500);

        columns.Bound(e => e.BudgetBasis).Width(500);

        columns.Bound(e => e.OPYearBudgetFDollar).Format("{0:N}").Width(120).HtmlAttributes(new { style = "text-align:right;" });
        columns.Bound(e => e.NAPIMSBUDGETFDollar).Format("{0:N}").Width(120).HtmlAttributes(new { style = "text-align:right;" });
        //columns.Bound(e => e.Q1FYLEFDollar).Format("{0:N}").Width(120).HtmlAttributes(new { style = "text-align:right;" });
        //columns.Bound(e => e.Savings).Format("{0:N}").Width(120).HtmlAttributes(new { style = "text-align:right;" });

        columns.Bound(e => e.Approver).Width(150);
        columns.Bound(e => e.ApprovalStatus).Width(150);
        columns.Bound(e => e.ApprovalComment).Width(300);
        columns.Bound(e => e.AddedDate).Width(100);
        //columns.Bound(e => e.AddedDateWeek).Width(100);

    })


    .Pageable()
    .Scrollable(s => s.Height(650))
    //.ClientDetailTemplateId("CostBreakDowntemplate")
    //.Filterable(filterable => filterable
    //    .Extra(false)
    //    .Operators(operators => operators
    //        .ForString(str => str.Clear()
    //            .StartsWith("Starts with")
    //            .IsEqualTo("Is equal to")
    //            .IsNotEqualTo("Is not equal to")
    //        ))
    //    )

    .ClientDetailTemplateId("CostBreakdowntemplate")
    .DataSource(dataSource => dataSource
    .Ajax()
    .AutoSync(true)
    .ServerOperation(false)
    .PageSize(45)
    .Events(events => events.Error("error_handler"))
    .Events(events => events.Sync("onSave"))
    .Model(model => model.Id(p => p.ID))
    .Read(read => read.Action("Read_Report_by_Variance", "Commitments").Data("additionalData"))
    )
    .Events(events => events.DataBound("dataBound"))
)


@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["Message"]");
        };
    </script>
}

<script id="CostBreakdowntemplate" type="text/x-kendo-template">

    <div style="width:700px">
        @(Html.Kendo().Grid<Web.BongaCC.ViewModels.ActivityDetailsViewModel>()
                .Name("Details_#=ID#")
                .Columns(columns =>
                {
                    columns.Bound(o => o.Description).Width(150);
                    columns.Bound(o => o.Quantity).Width(20);
                    columns.Bound(o => o.Rate).Width(20);
                    columns.Bound(o => o.FixedExchangeRate).Width(50);
                    columns.Bound(o => o.Calculated).Width(50);
                })
                .DataSource(dataSource => dataSource
                        .Ajax()
                        .AutoSync(true)
                        .ServerOperation(false)
                        .Events(events => events.Error("error_handler"))
                        .Events(events => events.Sync("onSave"))
                        .Model(model => model.Id(x => x.ID))
                        .Read(read => read.Action("Read_CostBreakDown", "Commitments", new { parentId = "#=ID#" }))
                    )
                    //.Events(e => e.ExcelExport("details_excelExport"))
                    .Sortable()
                    .ToClientTemplate()
        )
    </div>
</script>


<script type="text/javascript">

    //$("#Reporting").getKendoGrid().dataSource.aggregates()

    //$("#Details_#=ID").getKendoGrid().dataSource.aggregates()

    //https://www.telerik.com/forums/loading-grid-on-dropdownlist-change-or-button-click-event

    var ddlExportFormat;

    var ddlWeekFrom; var ddlWeekTo;
    function additionalData(e) {
        return { Date1: ddlWeekFrom, Date2: ddlWeekTo }
    }

    $('#ddlWeeks').change(function () {
        ddlItem = $("#ddlWeeks").val();
        var grid = $("#Reporting").data("kendoGrid");
        grid.dataSource.read();
    });

    $("#ExportReport2PDF").click(function () {
        ddlWeekFrom = $("#RptWeekFrom").val();
        ddlWeekTo = $("#RptWeekTo").val();

        var grid = $("#Reporting").data("kendoGrid");
        grid.dataSource.read();

        //this.disabled = true;

        
        var url = "/Commitments/ExportVarianceReportToPDF";
        if (ddlWeekFrom != "" && ddlWeekTo != "") {
             $.post(url, { Date1: ddlWeekFrom, Date2: ddlWeekTo }, function (data) {
            //get the file name for download
            if (data.fileName != "") {
                //use window.location.href for redirect to download action for download the file
                window.location.href = "@Url.RouteUrl(new { Controller = "Commitments", Action = "Download"})/?file=" + data.fileName;
            }
            else {

            }
         });
        }
        else {
            alert("Please select the Start Date to End Date.");
        }
    });

    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\\n";
            $.each(e.errors, function (key, value) {
                if ("errors" in value) {
                    $.each(value.errors, function () {
                            message += this + "\\n";
                        });
                    }
                });
            alert(message);
        }
    }

    function onSave(e) {
    $(event.srcElement)
        .addClass("k-state-disabled")
        .bind("click", disable = function (e) { e.preventDefault(); return false; });

        this.dataSource.one("requestEnd", function () { $("[data-role=window] .k-grid-update").off("click", disable).removeClass("k-state-disabled"); });
    }

</script>
