@model Web.BongaCC.ViewModels.ExchangeRatesViewModel

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label class="control-label">Select Month:</label>
            <select id="ddlMonths" class="form-control" asp-for="MMonth" asp-items="ViewBag.Months">
                <option>Please select Month</option>
            </select>
            <span asp-validation-for="FloatingExchangeRate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FloatingExchangeRate" class="control-label"></label>
            <input asp-for="FloatingExchangeRate" class="form-control" />
            <span asp-validation-for="FloatingExchangeRate" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="iDay" />
        <input type="hidden" asp-for="MMonth" />
        <input type="hidden" asp-for="YYear" />
    </div>
</div>